/* Type face for unhighlighted words */
@font-face {
    font-family: 'Raleway';
    src: url('fonts/raleway-extralight-webfont.woff2') format('woff2'),
         url('fonts/raleway-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/raleway-light-webfont.woff2') format('woff2'),
         url('fonts/raleway-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: 300;
}


@font-face {
    font-family: 'Roboto Slab';
    src: url('fonts/robotoslab-regular-webfont.woff2') format('woff2'),
         url('fonts/robotoslab-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Type face for highlighted words */
@font-face {
    font-family: 'Lobster';
    src: url('fonts/lobster-regular-webfont.woff2') format('woff2'),
         url('fonts/lobster-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* CJK web fonts */
@font-face {
    font-family: 'NotoSansJP';
    src: url('fonts/NotoSansJP-Thin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSansJP';
    src: url('fonts/NotoSansJP-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSansJP';
    src: url('fonts/NotoSansJP-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansKR';
    src: url('fonts/NotoSansKR-Thin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSansSC';
    src: url('fonts/NotoSansSC-Thin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSerifJP';
    src: url('fonts/NotoSerifJP-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSerifKR';
    src: url('fonts/NotoSerifKR-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSerifSC';
    src: url('fonts/NotoSerifSC-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Base classes */

.MMM-MyWordClock {
  background-color: #000;
}

.MMM-MyWordClock .clock-grid {
  font-family: "Raleway";
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0vh;
  left: 0vw;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  color: #666;
}

.MMM-MyWordClock .highlighted {
  font-family: 'Lobster';
}

.MMM-MyWordClock .clock-grid.c1 .highlighted {
  color: #ff077c;
  text-shadow:
    3px   3px  0 #fffc00,
   -1px  -1px  0 #fffc00,  
    1px   -1px 0 #fffc00,
   -1px  1px   0 #fffc00,
    1px   1px  0 #fffc00;  
}
.MMM-MyWordClock .clock-grid.c2 .highlighted {
  color: #d8ff00;
  text-shadow:
    3px   3px  0 #0f8bff,
   -1px  -1px  0 #0f8bff,  
    1px   -1px 0 #0f8bff,
   -1px  1px   0 #0f8bff,
    1px   1px  0 #0f8bff;  
}
.MMM-MyWordClock .clock-grid.c3 .highlighted {
  color: #ffea00;
  text-shadow:
    3px   3px  0 #ff0600,
   -1px  -1px  0 #ff0600,  
    1px   -1px 0 #ff0600,
   -1px  1px   0 #ff0600,
    1px   1px  0 #ff0600;  
}
.MMM-MyWordClock .clock-grid.c4 .highlighted {
  color: #01f6ff;
  text-shadow:
    3px   3px  0 #ff23dd,
   -1px  -1px  0 #ff23dd,  
    1px   -1px 0 #ff23dd,
   -1px  1px   0 #ff23dd,
    1px   1px  0 #ff23dd;  
}
.MMM-MyWordClock .clock-grid.c5 .highlighted {
  color: #ff012b;
  text-shadow:
    3px   3px  0 #6af6ff,
   -1px  -1px  0 #6af6ff,  
    1px   -1px 0 #6af6ff,
   -1px  1px   0 #6af6ff,
    1px   1px  0 #6af6ff;  
}
.MMM-MyWordClock .clock-grid.c6 .highlighted {
  color: #ae00ff;
  text-shadow:
    3px   3px  0 #ffea00,
   -1px  -1px  0 #ffea00,  
    1px   -1px 0 #ffea00,
   -1px  1px   0 #ffea00,
    1px   1px  0 #ffea00;  
}

.MMM-MyWordClock .clock-grid div {
  padding: 0 5.556vw;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.MMM-MyWordClock .clock-grid div span {
  white-space: nowrap;
}

/***************************
 *  LAYOUT SPECIFIC STYLES
 ***************************/

/* Default styling for tall layout */
.MMM-MyWordClock .clock-grid.tall {  
  font-size: 6.771vh;  /* 130px / 1920 * 100 */
  line-height: 12vh;
  font-weight: normal;
}

.MMM-MyWordClock .clock-grid.tall .highlighted {
  font-size: 7.083vh; /* 136px / 1920 * 100 */
}

/* Default styling for wide layout */
.MMM-MyWordClock .clock-grid.wide {
  line-height: 18vh;
  font-size: 12.963vh; /* 140px / 1080 * 100 */
}

.MMM-MyWordClock .clock-grid.wide .highlighted {
  font-size: 13.519vh;  /* 146px / 1080 * 100 */
}

/* Default styling for wide every-minute layout */

.MMM-MyWordClock .clock-grid.wide.every-minute div {
  padding: 0 2.928vw;
}

.MMM-MyWordClock .clock-grid.wide.every-minute {
  line-height: 13.5vh;
  font-size: 9.896vh; /* 76px / 768 * 100 */
}

.MMM-MyWordClock .clock-grid.wide.every-minute .highlighted {
  font-size: 10.677vh;  /* 82px / 768 * 100 */
}

.MMM-MyWordClock .clock-grid.wide.every-minute.letter-grid div {
  padding: 0 1.5vw;
}



.MMM-MyWordClock .clock-grid.wide.every-minute.letter-grid {
  line-height: 8.35vh;
  font-size: 6vh; /* 76px / 768 * 100 */
  font-family: "Raleway";
  font-weight: 300;
}

.MMM-MyWordClock .clock-grid.wide.every-minute.letter-grid div > span {
  width: 4.85vw;
  text-align: center;
}

.MMM-MyWordClock .clock-grid.wide.every-minute.letter-grid .highlighted {
  font-size: 6vh;  /* 82px / 768 * 100 */
  /*color: #FFF;*/
  text-shadow: none;
  font-family: "Raleway";
  font-weight: 300;
}

/* Default styling for tall every-minute layout */

.MMM-MyWordClock .clock-grid.tall.every-minute div {
  margin: 0 1.5vw;
}

.MMM-MyWordClock .clock-grid.tall.every-minute {
  line-height: 4.9vh;
  font-size: 2.917vh; /* 56px / 1920 * 100 */
}

.MMM-MyWordClock .clock-grid.tall.every-minute .highlighted {
  font-size: 2.917vh;  /* 56px / 1920 * 100 */
}

.MMM-MyWordClock .clock-grid.tall.every-minute.letter-grid div {
  padding: 0 0;
}

.MMM-MyWordClock .clock-grid.tall.every-minute.letter-grid {
  line-height: 4.9vh;
  font-size: 2.917vh; /* 56px / 1920 * 100 */
  font-family: "Raleway";
  font-weight: 300;
}

.MMM-MyWordClock .clock-grid.tall.every-minute.letter-grid div > span {
  width: 8.818vw;
  text-align: center;
}

.MMM-MyWordClock .clock-grid.tall.every-minute.letter-grid .highlighted {
  font-size: 2.917vh;  /* 56px / 1920 * 100 */
  /*color: #FFF;*/
  text-shadow: none;
  font-family: "Raleway";
  font-weight: 300;
}

.MMM-MyWordClock .clock-grid.letter-grid.c1 .highlighted {
  color: #ff2cc6;
}
.MMM-MyWordClock .clock-grid.letter-grid.c2 .highlighted {
  color: #ffca28;
}
.MMM-MyWordClock .clock-grid.letter-grid.c3 .highlighted {
  color: #fff152;
}
.MMM-MyWordClock .clock-grid.letter-grid.c4 .highlighted {
  color: #01f6ff;
}
.MMM-MyWordClock .clock-grid.letter-grid.c5 .highlighted {
  color: #ff3c73;
}
.MMM-MyWordClock .clock-grid.letter-grid.c6 .highlighted {
  color: #00ffae;
}




/* NL */
.MMM-MyWordClock .clock-grid.NL.tall {
  line-height: 13.5vh;
}

/* FR */
.MMM-MyWordClock .clock-grid.FR.tall {  
  line-height: 10.6vh;
  font-size: 6.25vh;
}

.MMM-MyWordClock .clock-grid.FR.tall .highlighted {
  font-size: 6.458vh;
}

.MMM-MyWordClock .clock-grid.FR.wide {  
  line-height: 15.5vh;
  font-size: 12.037vh;
}

.MMM-MyWordClock .clock-grid.FR.wide .highlighted {  
  font-size: 12.593vh;
}

/* DE */
.MMM-MyWordClock .clock-grid.DE.tall {  
  line-height: 13.5vh;
  font-size: 6.25vh;
}

.MMM-MyWordClock .clock-grid.DE.tall div {
  padding: 0 6.481vw;
}

.MMM-MyWordClock .clock-grid.DE.tall .highlighted {  
  font-size: 6.458vh;
}

/* DE_CH */
.MMM-MyWordClock .clock-grid.DE_CH.tall {  
  line-height: 13.5vh;
}

/* DA */

.MMM-MyWordClock .clock-grid.DA.tall {  
  line-height: 13.5vh;
}

/* ============== CJK ================ */

/*
  JA
  Japanese clock reads vertically, and from right-to-left
*/

.MMM-MyWordClock .clock-grid.JA {
  font-family: "NotoSansJP";
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  font-size: 9.375vh;
  flex-wrap: no-wrap;
  direction: rtl;
}

.MMM-MyWordClock .clock-grid.JA > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  line-height: 1;
  flex-shrink: 1;
  flex-grow: 1;
  padding: 0;
  margin-top: 3.333vh;
  line-height: 1.25;
}

.MMM-MyWordClock .clock-grid.JA .highlighted {
  font-family: 'NotoSansJP';
  font-weight: 700;
  font-size: 9.375vh;
}

.MMM-MyWordClock .clock-grid.JA.wide {
  align-items: center;
  font-size: 12.5vh;
}

.MMM-MyWordClock .clock-grid.JA.wide > div {
  margin-top: 0;
  line-height: 16vh;
}

.MMM-MyWordClock .clock-grid.JA.wide .highlighted {
  font-size: 12.5vh;
}

/* KO */
.MMM-MyWordClock .clock-grid.KO {
  font-family: "NotoSansKR";
}

.MMM-MyWordClock .clock-grid.KO .highlighted {
  font-family: 'NotoSerifKR';
}

.MMM-MyWordClock .clock-grid.KO.tall {
  line-height: 14vh;
}

.MMM-MyWordClock .clock-grid.KO.wide {
  line-height: 23vh;
}

/* ZH */
.MMM-MyWordClock .clock-grid.ZH {
  font-family: "NotoSansSC";
}


.MMM-MyWordClock .clock-grid.ZH .highlighted {
  font-family: 'NotoSerifSC';
}


.MMM-MyWordClock .clock-grid.ZH.tall > div {
  justify-content: flex-start;
  padding: 0;
  padding-left: 3.333vw;
}

.MMM-MyWordClock .clock-grid.ZH.tall > div > span {
  text-align: center;
  width: 15.556vw;
}

.MMM-MyWordClock .clock-grid.ZH.tall {
  line-height: 16vh;
}

.MMM-MyWordClock .clock-grid.ZH.wide {
  line-height: 23vh;
}

.MMM-MyWordClock .clock-grid.ZH.wide > div {
  justify-content: flex-start;
  padding: 0;
  padding-left: 4.297vw;
}
.MMM-MyWordClock .clock-grid.ZH.wide > div > span {
  text-align: center;
  width: 10.156vw;
}

