/* Type face for unhighlighted words */
@font-face {
    font-family: 'Raleway';
    src: url('fonts/raleway-extralight-webfont.woff2') format('woff2'),
         url('fonts/raleway-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Type face for highlighted words */
@font-face {
    font-family: 'Lobster';
    src: url('fonts/lobster-regular-webfont.woff2') format('woff2'),
         url('fonts/lobster-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Base classes */

.MMM-MyWordClock .clock-grid {
  font-family: "Raleway";
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0vh;
  left: 0vw;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  color: #666;
}

.MMM-MyWordClock .highlighted {
  font-family: 'Lobster';
}

.MMM-MyWordClock .clock-grid.c1 .highlighted {
  color: #ff077c;
}
.MMM-MyWordClock .clock-grid.c2 .highlighted {
  color: #99ff07;
}
.MMM-MyWordClock .clock-grid.c3 .highlighted {
  color: #ffd200;
}
.MMM-MyWordClock .clock-grid.c4 .highlighted {
  color: #01ccff;
}
.MMM-MyWordClock .clock-grid.c5 .highlighted {
  color: #ff012b;
}
.MMM-MyWordClock .clock-grid.c6 .highlighted {
  color: #f0ff00;
}

.MMM-MyWordClock .clock-grid div {
  padding: 0 5.556vw;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.MMM-MyWordClock .clock-grid div span {
  white-space: nowrap;
}

/***************************
 *  LAYOUT SPECIFIC STYLES
 ***************************/

/* Default styling for tall 9x16 layout */
.MMM-MyWordClock .clock-grid.tall {  
  font-size: 6.771vh;  /* 130px / 1920 * 100 */
  line-height: 12vh;
  font-weight: normal;
}

.MMM-MyWordClock .clock-grid.tall .highlighted {
  font-size: 7.083vh; /* 136px / 1920 * 100 */
}

/* Default styling for wide 16x9 layout */
.MMM-MyWordClock .clock-grid.wide {
  line-height: 18vh;
  font-size: 12.963vh; /* 140px / 1080 * 100 */
}

.MMM-MyWordClock .clock-grid.wide .highlighted {
  font-size: 13.519vh;  /* 146px / 1080 * 100 */
}

/* NL_9x16 */
.MMM-MyWordClock .clock-grid.NL_9x16.tall {
  line-height: 13.5vh;
}

/* FR_9x16 */
.MMM-MyWordClock .clock-grid.FR_9x16.tall {  
  line-height: 10.6vh;
  font-size: 6.25vh;
}

.MMM-MyWordClock .clock-grid.FR_9x16.tall .highlighted {
  font-size: 6.458vh;
}

/* FR_16x9 */
.MMM-MyWordClock .clock-grid.FR_16x9.wide {  
  line-height: 16vh;
  font-size: 12.037vh;
}

.MMM-MyWordClock .clock-grid.FR_16x9.wide .highlighted {  
  font-size: 12.593vh;
}

/* DE_9x16 */
.MMM-MyWordClock .clock-grid.DE_9x16.tall {  
  line-height: 13.5vh;
  font-size: 6.25vh;
}

.MMM-MyWordClock .clock-grid.DE_9x16.tall div {
  padding: 0 6.481vw;
}

.MMM-MyWordClock .clock-grid.DE_9x16.tall .highlighted {  
  font-size: 6.458vh;
}


